.RouterLink {
  width: max-content;
  padding: 6px 11px;
  background:
    linear-gradient(#141114, #141114) padding-box,
    linear-gradient(to right, #fff1f1, #9f9dff, #ff66d0) border-box;
  border-radius: 6px;
  border: 1px solid transparent;
}
