.member_position {
  font-size: 26px;
  font-weight: 700;
  color: #FFF
}

.member_name {
  font-size: 18px;
  font-weight: 500;
  color: #FF66D0;
  text-decoration: underline;
  text-decoration-color: rgba(255, 102, 208, 0.5);
  text-underline-offset: 4px;
}

