.member_position {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-white);
}

.member_name {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-pink);
  text-decoration: underline;
  text-decoration-color: var(--color-pink-50);
  text-underline-offset: 4px;
}

.teamWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.memberWrapper {
  display: flex;
  flex-direction: column;
}
