.member_position {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

.member_name {
  font-size: 18px;
  font-weight: 500;
  color: #ff66d0;
  text-decoration: underline;
  text-decoration-color: rgba(255, 102, 208, 0.5);
  text-underline-offset: 4px;
}

.teamWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.memberWrapper {
  display: flex;
  flex-direction: column;
}
