.navbar_default {
  display: flex;
  align-items: center;
  gap: 6px;
}

.navbar_default button {
  height: 30px;
  border-radius: 10px;
  padding: 4px 8px 0px 8px;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
}

.navbar_default button span {
  margin: 0 0 3px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
}

.navbar_default button:hover {
  background: rgba(200, 168, 216, 0.25);
}

.order_button span {
  background: linear-gradient(208.88deg, #ffa5f6 22.03%, #a35aff 92.52%, #b8eaff 106.01%, #ebc2e2 126.03%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 1px dashed #d17ffa;
  border-radius: 0;
}
