.PageTransitions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--page-transition-z-index);
  animation: slideDown cubic-bezier(1, 0.2, 0.8, 0.1) 2.5s;

  &__content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }

  &__content_visible {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideDown {
  0% {
    top: 0;
  background: rgb(var(--foreground-rgb));
  }
  100% {
    top: 100%;
  background: transparent;
  }
}
