.textBlock {
  margin-top: 64px;
  margin-bottom: 16px;
  line-height: 140%;
  font-size: 22px;
  max-width: 70%;
  color: #FFF;
  white-space: pre-wrap;
  display: block;
}

@media (min-width: 1280px) and (max-width: 1919px) {
  .textBlock {
    font-size: 18px;
    margin-bottom: 9px;
    margin-top: 54px;
  }
}

