.wrapper {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 70px;
  z-index: var(--widget-z-index);
}

.wrapperAnimated {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 48px;
  z-index: var(--widget-z-index);
}
