.projectFeed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px 0;
  margin-top: 50px;
}

.projectItem {
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.projectItem:hover {
  transform: scale(1.03);
}

.projectItem .image {
  object-fit: cover;
}

@media (max-width: 1024px) {
  .projectFeed {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projectFeed {
    grid-template-columns: 1fr;
  }
}