.Team {
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.Team .sectionContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.Team .sectionContent .leftBlock {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.Team .sectionContent .rightBlock {
  flex: 1;
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(3, minmax(auto, 174px));
  column-gap: 36px;
  row-gap: 54px;
}

.Team .sectionContent .rightBlock .persona {
  direction: ltr;
  max-width: 174px;
  display: flex;
  flex-direction: column;
  transition: color 0.2s;
}

.Team .sectionContent .rightBlock .persona:hover {
  color: var(--color-gray-medium);
}

.Team .sectionContent .rightBlock .persona .personaInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.Team .sectionContent .rightBlock .persona .personaInfo .persona__name {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.Team .sectionContent .rightBlock .persona__image {
  border-radius: 12px;
  display: block;
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.Team .sectionContent .rightBlock .persona__position {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
