.search_button {
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-black);
  border: 1px solid var(--color-gray-medium);
  border-radius: 16px;
  background: var(--color-black-50);
  border: 1px solid var(--color-white-50);
  backdrop-filter: blur(19.65px);
  transition: background 0.3s;
}

.search_button > button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.search_button > button:hover {
  background: rgba(200, 168, 216, 0.25);
}
