.navbar_contacts {
  display: flex;
  align-items: center;
  gap: 6px;
}

.close_contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 8px;
  border-radius: 10px;
  transition: background 0.3s;
  height: 30px;
}

.close_contacts:hover {
  background: rgba(200, 168, 216, 0.25);
}

.close_contacts span {
  font-size: 14px;
  font-weight: 700;
  max-width: max-content;
  margin: 0 0 2px 0;
}

.contacts_list {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 auto 0 30px;
}

.contacts_list li {
  padding: 8px 8px;
  border-radius: 10px;
  transition: background 0.3s;
}

.contacts_list li:hover {
  background: rgba(200, 168, 216, 0.25);
}
