.navbar {
  width: 100%;
  max-width: max-content;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 4px;
  z-index: var(--widget-z-index);
}

.navbar_wrapper {
  width: 390px;
  height: 46px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 16px;
  background: var(--color-black-50);
  border: 1px solid var(--color-white-50);
  backdrop-filter: blur(19.65px);
}
