.Clients {
  margin-top: 108px;
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.sectionTitle {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 63px;
  & > svg {
    position: relative;
    top: 5px;
  }
}

.sectionContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 14px;
}

.client > a {
  padding: 0 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
