.Projects {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 110px;
  padding: 0 42px;

  .project {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 11.75px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }

    @media screen and (max-width: 1280px) {
      flex: 1 1 calc(33% - 20px);
      max-width: calc(33% - 20px);
    }

    &Info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
    }

    .projectName {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .projectImage {
      border-radius: 12px;
      overflow: hidden;
      display: block;
      max-width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    } 
  }

  @media screen and (max-width: 1280px) {
    padding: 0 50px;
  }
}

.likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 10px;
}
