.Likes {
  display: flex;
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.Likes__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
}
.Likes svg {
  width: 18px;
  height: 16px;
}
