@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reset';
@import './variables';

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum';
  font-feature-settings: 'lnum';
}

.main {
  padding-top: 172px;

  &_search {
    padding-top: 182px;
  }
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.hiddenTitle {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
