@import "./reset.css";
@import "./variables.css";

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

.main {
  padding-top: 172px;
}

.main_search {
  padding-top: 182px;
}

.container {
  max-width: calc(100% - 92px);
  width: 100%;
  margin: 0 auto;
}

.hiddenTitle {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
