.imgTwoSquares {
  display: flex;
  gap: 20px;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 1280px) {
  .imgTwoSquares {
    gap: 15px;
  }
}
